body {
    /*background: url(eerc_pics/eerc.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#bg {
    background: url(eerc_pics/eerc.jpg) no-repeat center center fixed;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.7;
}


#myBackground {
    margin-top: 20%;
    background-color: rgba(54, 71, 196, 0.8);
    z-index: 1;
    opacity: 1;
    text-align: center;
}

#nextScreen {
    color: rgb(249, 164, 27);
    border-color: rgb(249, 164, 27);
}

#nextScreen:hover {
    color: rgb(250, 250, 250);
    background-color: rgb(249, 164, 27);
    border-color: rgb(249, 164, 27);
}