#schedule1 {
    margin-top: 20px;
}

.num {
    text-align: center;
    border-radius: 8px;
    color: white;
    background-color: green;
}

.header {
    font-size: 20px;
    font-weight: bold;
}

.row {
    margin-top: 10px;
}

.m {
    background-color: blue;
}

.ee {
    background-color: orange;
}

.phy {
    background-color: red;
}

.gov {
    background-color: purple;
}

.fa-circle {
    margin-right: 2px;
}

.yearly {
    border-radius: 4px;
    background-color: rgba(232, 227, 222, 0.9);
    margin-right: 8px;
}

.hide {
    opacity: 0
}

.sem {
    margin-left: 10px;
}